*{
    margin: 0;padding: 0;
}
body{
    background-color: beige;
}

.parallax-section {
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#section-1{
    background-image: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?cs=srgb&dl=pexels-miriamespacio-110854.jpg&fm=jpg);
}
#section-2{
    background-image: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?cs=srgb&dl=pexels-miriamespacio-110854.jpg&fm=jpg);

}

.content-section {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.content-section p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    width: 80%;
    font-size: 1.2em;
}
footer{
   
border: 2px solid black;
display: flex;
justify-content: center;
align-items: center;
height: 5vh;
background-color: rgb(80, 70, 142);
}