* {
  padding: 0;
  margin: 0;
}
body {
  background-image: url(https://images.wallpaperscraft.com/image/single/mountain_cloud_moon_197055_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  color: white;
}
header h2 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.logo-section {
  display: flex;
}
.logo-section img {
  width: 50px;
  border-radius: 50%;

  padding-left: 10px;
}
.logo-section h2 {
  padding-left: 20px;
  padding-top: 13px;
}

.right-section h2 {
  padding-top: 13px;
}
.middle-section {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.mid {
  margin: 30px auto;
  padding-left: 10vw;
  padding-top: 20vh;

  font-size: clamp(35px, 6vw, 70px);

  color: white;
}
.middle-section p {
  padding-left: 11vw;
  width: 35vw;
  color: white;
}
.lower-section p {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 11vw;
  padding-top: 100px;
  width: 35vw;
  color: white;
}
.lowest-section {
  padding-left: 11vw;
}
.lowest-section img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding-top: 10px;
  margin: 10px;
}
.lowest-section img {
  transition: 0.3s;
  cursor: pointer;
}

.lowest-section img:hover {
  transform: scale(1.2);
}
.middle-section {
  backdrop-filter: blur(5px);
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .middle-section p {
    width: 80%;
  }
}
