* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(255, 251, 240);
}
main {
  height: 40vh;
  width: 70vw;
  border: 2px solid black;
  border-radius: 5px;
  margin: 100px auto;
background-color: azure;}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
  line-height: 30px;
  
}
article button{
    height: 50px;
    width: 100px;
    border-radius: 6px;
    background-color: aquamarine;
    color: aliceblue;
}
article button:hover{
    background-color: aliceblue;
    color: aquamarine;
}