* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(253, 248, 242);
}
html{
    scroll-behavior: smooth;
}
.head {
  height: 30vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.top ul {
  padding-left: 20vw;
  display: flex;
  gap: 10vw;
  list-style: none;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  gap: 20px;
}
.logo img {
  border-radius: 50%;
}
.top ul li a {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  color: rgb(88, 55, 9);
  border: 2px solid black;
  border-radius: 8px;
  font-size: 18px;
  transition: 0.3s ease;
}

.top ul li a:hover {
  background-color: rgb(234, 124, 35);
  color: white;
  transform: scale(1.1);
}
section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-top: 50px;
  width: 70%; /* reduce overall size */
  margin: auto; /* center it */
  
}
article:hover {
    transform: scale(1.05);   /* slightly zoom */
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

article {
  border: 2px solid black;
  aspect-ratio: 1 / 1; /* THIS makes it square */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
      background: linear-gradient(135deg , rgb(235, 231, 225), rgb(244, 221, 199));
      gap: 20px;
border-radius: 15px;
}
article img{
    border: 1px solid rgb(81, 81, 5);
    border-radius: 5px;
}
.best_arrivals{
    height: 10vh;
    border: 2px solid black;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(to right, rgb(224, 201, 154), rgb(255, 162, 41));
}
#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;

    padding: 12px 16px;
    font-size: 20px;

    background: linear-gradient(135deg, #ff416c, #8e2de2);
    color: white;
    border: none;
    border-radius: 50%;

    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

    transition: 0.3s ease;
}
article button{
    height: 40px;
    width: 100px;
    background-color: rgb(255, 142, 5);
    font-size: medium;
    border-radius: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
transition: 0.25s ease;
}
article button:hover{
    color: aliceblue;
     transform: scale(1.05);
}
footer{
    margin-top: 50px;
border: 2px solid black;
display: flex;
justify-content: center;
align-items: center;
height: 5vh;
background-color: rgb(176, 186, 109);
}