*{
    margin: 0;padding: 0;
}
body {
    color: white;
  background-image: url(https://imagizer.imageshack.com/img923/6540/DLePv1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
}
header h2 {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.logo-section {
  display: flex;
}
.logo-section img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}
.logo-section h2 {
  padding-left: 20px;
  padding-top: 13px;
}
.middle-section ul{
    padding-top: 19px;
    display: flex;
    list-style: none;
    column-gap: 100px;
font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button {
height: 60px;
width: 120px;
border-radius: 30px;
border: 2px solid rgb(22, 20, 114);
transition: 0.3s ease;
}
.button:hover{
  transform: scale(1.1);
cursor: pointer;
}
main{
  display: flex;
  flex-direction: column;
   margin-left: 200px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   row-gap: 10px;
}
.middle{
  font-size: clamp(100px, 10vw, 200px);
  margin-top: 150px ;
}

