*{
    padding: 0;margin: 0;
}
body{
    background-color: rgb(255, 242, 188);
}
header{
    display: flex;
    height: 30vh;
    width: 90vw;
    border: 2px solid;
    border-radius: 5px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(193, 88, 40);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-color: rgb(243, 181, 73);
}
.About{
    height: 40vh;
    border: 1px solid black;
    width: 50vw;
    border-radius: 5px;
    background-color: rgb(255, 249, 243);
    transition: 0.3s ease;
    margin: 20px auto;
}
article:hover{
    transform: scale(1.03);
}
article ul li{
    list-style: none;
    padding-left: 30px;
    padding-top: 20px;
}
footer{
    margin-top: 50px;
border: 2px solid black;
display: flex;
justify-content: center;
align-items: center;
height: 5vh;
background-color: rgb(224, 138, 67);
}
.pie img{
    width: 15vw;
    border-radius: 5px;
}
section{
    display: flex;
    justify-content: space-between;
}
.pie{
    height: 40vh;
    width: 30vw;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
}
.About p{
margin-top: 10px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.About h2{
    font-size: 30px;
    color: rgb(124, 103, 221);
}
.Ingredients{
      height: 40vh;
    border: 1px solid black;
    width: 40vw;
    border-radius: 5px;
    background-color: rgb(255, 254, 252);
    transition: 0.3s ease;
    margin: 70px ;
    
}
article h2{
    color: rgb(153, 103, 252);
}