
*{
    margin: 0;padding: 0;
}
body{
    background-color:#f4f4f4; 
}
header h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 10vh;
background-color: #1F3A5F;
color: white;
border: 1px solid;
border-radius: 10px;
}
header{
   
  padding-top: 80px;
  width: 50vw;
margin: auto;

}
main{
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:80vh;
}
.container{
    width: 500px;
}
.item{
    background:#ffffff;
    margin-bottom:15px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}
.item input{
    display:none;
}
.faq-question{
    padding:18px;
    cursor:pointer;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight:600;
}
.faq-question::after{
    content:"+";
    font-size:22px;
    transition:0.3s;
}
.item input:checked + .faq-question::after{  /*Yaha Par Hamara + .faq-question ye represent kr rha h ki jab input checkho tab (+just after element ke liye hota h ) plus ko rotate kr do*/
    transform:rotate(45deg);
}
.faq-answer{
    max-height:0;
    overflow:hidden;
    transition:max-height 0.4s ease, padding 0.4s ease;
    padding:0 18px;
    color:#555;
}
.item input:checked ~ .faq-answer{      /*Yaha Par Hamara ~ .faq-answer ye represent kr rha h ki jab input checkho tab (~just after parent element ke liye hota h mtlb uske andar ka bhi sab aayega ) to max height 200px krdo*/
    max-height:200px;
    padding:15px 18px 20px;
}
